# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# ---- Project specific ----
# Data folders (DO NOT upload datasets)
data/raw/
data/processed/
data/features/

# Training outputs/checkpoints
outputs/
*.pt
*.pth
